-----BEGIN CERTIFICATE-----
MIIGFDCCA/ygAwIBAgIJAOw/+gkehy8nMA0GCSqGSIb3DQEBCwUAMIGeMQswCQYD
VQQGEwJUSDEQMA4GA1UECAwHQmFuZ2tvazEWMBQGA1UEBwwNV2FuZ3Rob25nbGFu
ZzEYMBYGA1UECgwPTm8gb3JnYW5pemF0aW9uMRYwFAYDVQQLDA1ubyBkZXBhcnRt
ZW50MQ8wDQYDVQQDDAZBbHRlYXIxIjAgBgkqhkiG9w0BCQEWE2FsdGVhcjE0N0Bn
bWFpbC5jb20wHhcNMTkxMTE1MTUyNTM5WhcNMjAxMTE0MTUyNTM5WjCBnjELMAkG
A1UEBhMCVEgxEDAOBgNVBAgMB0Jhbmdrb2sxFjAUBgNVBAcMDVdhbmd0aG9uZ2xh
bmcxGDAWBgNVBAoMD05vIG9yZ2FuaXphdGlvbjEWMBQGA1UECwwNbm8gZGVwYXJ0
bWVudDEPMA0GA1UEAwwGQWx0ZWFyMSIwIAYJKoZIhvcNAQkBFhNhbHRlYXIxNDdA
Z21haWwuY29tMIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEArj4B2uPv
iMZtuVH2mrHUa9x4eCgRRrZO1Ht4k5ci7iqO8XaJM5RHeBpAAgpM+uXdPIJKjtHK
Qdbtu6jMAb+OP1r4I6hj+mnnZu1ornDWUfaYAh0lTMjXSYi9eMm6zKb+BJ5QjYVg
qTzlqPS9hh3XKdPluQg1Q2GrLIk9DhXjG+U8FO9WDAG1dxQVRwfYOAASttRVa04V
e9lNZM4efwdSLZfaM+qYk9o1ujuS5SBygNkxDif9g094vt3i5HM1T05Ttoh+Dm59
rnH/+9k2XfvU2v3PhSC7rQ0eHYc5F3BrHYogOeuwHBZUbN7j5PCFYCoRQM/9CtwU
NqZ2/HV+Ij+fJ+FXxa208bCRvwf7EoBk4hui4GLsiFGdLM9lO7IlHPcVh6CN0y2b
87zd8Nvnl6Iht1J3SR5wnFtHQ1xGBdQjtcLYvu9syw+Azm2N9CiWCh20H9WeqV3G
Z5PLUWe+0fWN6rh1sy79bIFKHo4mYq6eoB1uQmjLuI5IzSgWgWsezTz/8og4LHcn
bRNNEepeLMty5I3SV7lAeU1o2ldb24Br9VoskYNoL8WpLxq/BkUBdAkurhBu3pWM
zUVQHOUlaV3/VV2mluHqWN+VFI1isxYGnCG+Ucu+cx/1T0kjsruDyglvLqhFyaLz
nJXeV+2RRR2lWpjXiTSZIO3EfxB38Bw15cECAwEAAaNTMFEwHQYDVR0OBBYEFBL2
j0IArCuZ1pSwJzUg3PU1PkT0MB8GA1UdIwQYMBaAFBL2j0IArCuZ1pSwJzUg3PU1
PkT0MA8GA1UdEwEB/wQFMAMBAf8wDQYJKoZIhvcNAQELBQADggIBAAocphAJprh8
MSxI3jB1nBIkzNXoeNH8pDRgazeQeoNkFzzFw9+5qMDjwASicgIJhQFBkLlp1x8X
XdFog5TS6xhj+oW86BuhAthIdgGl9QZUhuvQ4g4/RCyBNJ0F9y0Qj8diIyvO8Jhv
jKb8MI/A46DcfBM2g11PLps2dXkcNV5Q2rXrCFpYDa+fU/tGu5Z20bx2F0a9RF6a
mWIyEyWy8b1GCPkX6opBq8ird3GGkxLiyjBqWTM3G/m2rABOWJTEpY+t/CS1N4ib
ue8VKAWKeciIdDKzW31FnK68XMLGENAyieff4wgcswTPrRn5p4oeyCCeB4e6+03P
iWsAjPzN32tCxdpJuD7kGl+fx8YSBnzAdkk7ikO8u3yr1TAnw7HFF7cPDW/lOzNy
KEV48LdRi56cDIfZWie8NDVSK5HynJjkDil72GjzWYloYMqFPm9teJGa9GNfREpw
6Rpq/cirwAaYTeyemLMfwlVwjIlyytfWvP71O7JB0ml5G5w80zx4viqblNX83XsE
Mlhaz5I+ywtIVchc9m62SaCMAwjAylUDEst28jw5XghkpbOO15hhK4A5XFfqo4Ec
/J0FRq4Ydgy8ndtwEqggyiss+ZI8NyaHSRSyBJGRhtQZf6HAXjr9S85GdYXRHsOT
SBncOCVWDNEf8hcvQjD9PeGfDMSZTyGq
-----END CERTIFICATE-----
